services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: heart_api
    ports:
      - "8000:8000"

  ui:
    build:
      context: .
      dockerfile: Dockerfile.streamlit
    container_name: heart_ui
    ports:
      - "8503:8501"
    environment:
      - API_URL=http://api:8000
    depends_on:
      - api
